.card {
  width: 262px;
  height: 350px;
  background-color: white;
  border: 2px solid #000000;
  text-align: center;
  margin: 15px;
  
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-badge {
  text-align: center;
  max-width: 100%;
  height: 210px;
}

.team-name {
  margin-top: 8px;
}

.stadium-name {
  margin-top: -3px;
}

.schedule-button {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #38003c;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.schedule-button:hover {
  background-color: #0056b3;
}