body {
  background-image: url("https://img.freepik.com/free-vector/gradient-football-field-background_52683-66081.jpg");
  background-size: 100%;
}

h1{
  color: white;
  font-size: 50px;
}

h2{
  color: white;
  font-size: 48px;
}

h3{
  color: white;
  font-size: 42px;
}

.App {
  text-align: center; /* Center-align the content horizontally */
  height: 100px;
}

button {
  font-size: 80px;
  width: 90px;
  height: 50px;
  background-color: #3893f5;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}